#chat-interface {
    font-size: 1.4rem;
    padding: 6px 0 0 45px;
    color:white;
}

#section-chat {
    width: 345px;
    bottom: 9px;
    position: fixed;
    right: 4%;
    color: rgb(0, 0, 0);
    background-color: #f6f6f6;
    border: 1px solid rgb(207, 207, 207);
    display: none;
    z-index: 1000;
}

.chat-popup-header {
    background-color: #f6f6f6;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
    display: block;
    text-align: center;
}

.widget-container {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
}

.widget-container-value {
    position: relative;
    padding: .75rem;
    justify-content: flex-start;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.ecw-launcher-container {
    display: flex;
    width: 183.73px;
    height: 61px;
}

#widgetButton {
    background-image: url("../pics/logo.png");
    background-color: transparent;
}

.robotButton {
    fill: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    border: none;
    width: 52px;
    height: 52px;
    margin-left: .75rem;
    margin-bottom: 5px;
    margin-right: 5px;
}

.ecw-close-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 .25rem 0 0;
    height: 26px;
    width: 32px;
}

.ecw-close-button-img {
    width: 20px;
    height: 20px;
    padding: 3px;
    box-shadow: 1px 3px 5px 0.5px rgba(0,0,0,.3);
    background-color: #d3d3d3;
    border: 2px solid #fff;
    border-radius: 50%
}

.x-button {
    padding: 3px;
    box-shadow: 1px 3px 5px 0.5px rgba(0,0,0,.3);
    background-color: #d3d3d3;
    border: 2px solid #fff;
    border-radius: 50%;
}

.launcher-welcome {
    display: flex;
    position: relative;
    background-color: #fff;
    border-radius: .625rem;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    max-width: 300px;
    cursor: pointer;
    margin-bottom: 5px;
}

.launcher-welcome-side {
    display: block;
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    right: -10px;
    bottom: 10px;
    background-color: inherit;
    transform: translateX(-6px) rotate(45deg);
    pointer-events: none;
    box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, .2);
}

.launcher-welcome-text {
    white-space: nowrap;
    padding: 1rem;
    max-width: 100%;
    font-size: 16px;
    white-space: normal;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}